body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #000000, #414241);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: darkorange;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.2em;
    color: white;
}

input, button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: yellow;
    color: black;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: yellowgreen;
}