body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #5233eb, #6cfdff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: blueviolet;
    color: black;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: lightsteelblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid blue;
    padding: 10px;
}

th {
    background-color: blue;
    color: white;
}

td {
    background-color: #ecffe6;
}
