/* Fondo oscuro */
#modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 900;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Wrapper del modal */
#modal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Caja del modal */
#modal-box {
    background: white;
    padding: 20px;
    width: 40%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    animation: fadeInUp 0.3s ease;
}

/* Botón cerrar */
#modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

/* Animación elegante */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* concatenar la clase hiden para ocultar el modal y el ovelay, asi no se requerira 
(para evitar conflictos por prioridad: especifidad > clase)
.hidden {
    display: none !important;
}
*/
#modal.hidden {
    display: none;
}

#modal-overlay.hidden {
    display: none;
}